@inherits LayoutComponentBase
@using Lab_Blazor.Components.Layout

<div class="app-shell">
    <Sidebar />

    <div class="mobile-topbar d-lg-none">
        <img src="images/logo-inmaculada.png" alt="Logo" />
        <button class="btn" onclick="window.toggleSidebar()">
            <i class="bi bi-list"></i>
        </button>
    </div>


    <main class="content-with-sidebar">
        @Body
    </main>

    <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" id="toastContainer"></div>


</div>

<HeadContent>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</HeadContent>
