@inherits LayoutComponentBase
@using Lab_Blazor.Components.Layout

<div class="app-shell">
    <Sidebar />

    <button class="btn sb-handle rounded-circle"
            type="button"
            onclick="window.toggleSidebar()"
            aria-label="Expandir/Contraer">
    </button>

    <main class="content-with-sidebar">
        @Body
    </main>

</div>

<HeadContent>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</HeadContent>
